h1 {
    font-family: 'Playfair Display', serif;
    font-size: 5em;
    padding: .2em;
}
header {
    width: 100%;
    height: 80%;
    margin: 3em 0;
}
.card-header {
    display: none;
}
.card-body {
    font-size: x-large;
}
.card {
    background-color: hsl(35, 51%, 70%);
    border: 0;
    width: 225px;

}
.card-footer {
    font-family: 'Oswald', sans-serif;
}
body {
    font-family: 'Lobster', cursive;
    background-image: url("img/coffeebeans.png");
    background-repeat: no-repeat;
    background-size: cover;
}
main {

}