:root {
    --color-primary-light: hsl(35, 51%, 70%);
    --color-primary-medium: hsl(39, 36%, 53%);
    --color-primary-dark: hsl(26, 82%, 13%);
    --color-neutral-white: hsl(0, 0%, 96%);
    --color-neutral-black: hsl(213, 12%, 15%);
    --color-neutral-transparent: hsla(0, 0%, 96%, 0.75);

    --ff-title: 'Playfair Display', serif;
    --ff-heading: 'Lobster', cursive;
    --ff-body: 'Oswald', sans-serif;

    --padding: .2em;
    --margin-bottom: .5em;

}


/* ----- Styling Reset ----- */
*,
*::before,
*::after {
    box-sizing: border-box;
}

body, h1, h2, h3, h4, h5, p, figure, picture {
    margin: 0;
    padding: 0;
}


/* ----- General Styling ----- */
body {
    font-family: var(--ff-body);
    background-image: url("img/coffeebeans.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

body::-webkit-scrollbar {
    display: none;
}

header {
    width: auto;
    height: 80%;
    margin: 3em 0;
}

h1 {
    font-family: var(--ff-title);
    font-size: 5em;
    text-align: center;
    padding: var(--padding);
    background-color: var(--color-neutral-transparent);
}

h2 {
    font-family: var(--ff-heading);
    font-size: 3em;
    text-align: center;
    padding: var(--padding);
}

h3 {
    font-family: var(--ff-heading);
    font-size: 2em;
    text-align: center;
    padding: var(--padding);
}


/* ----- Card Styles ----- */
.card {
    padding: 0;
    border: 0;
    width: 225px;
}

.card-body {
    font-family: var(--ff-heading);
    font-size: x-large;
    text-align: left;
    border-radius: 5px 5px 0 0;
    border: none;
}

.btn {
    background-color: var(--color-primary-medium);
    color: var(--color-neutral-white);
}
.btn:hover {
    background-color: var(--color-primary-dark);
    color: var(--color-primary-medium);
}


.card-footer {
    background-color: var(--color-primary-light);
}


/* ----- Form Styles ----- */
input, select{
    margin-bottom: var(--margin-bottom);
    width: 100%;
}

input[type='submit'] {
    background-color: var(--color-primary-light);
    color: var(--color-neutral-white);
}

input[type='submit']:hover {
    background-color: var(--color-primary-dark);
    color: var(--color-primary-light);
}

.invisible {
    overflow-x: hidden;
    word-wrap: none;
}
/* ----- Modal Styles ----- */
.modal-body {
    background-color: var(--color-primary-light);
}

.modal-header {
    color: var(--color-neutral-white);
    background-color: var(--color-primary-medium);
    border-bottom: 5px var(--color-primary-dark) solid;
}

.modal-footer {
    background-color: var(--color-primary-medium);
    border-top: 5px var(--color-primary-dark) solid;
}