h1 {
    font-family: 'Playfair Display', serif;
    font-size: 5em;
    padding: .2em;
}
header {
    width: auto;
    height: 80%;
    margin: 3em 0;
}
.card-header {
    display: none;
}
.card-body {
    font-size: x-large;
    background-color: #a88b6c;
    text-align: left;
    border-radius: 5px 5px 0 0;
    border-color: black;
}
.card {
    background-color: hsl(35, 51%, 70%);
    border: 0;
    width: 225px;

}
.card-footer {
    font-family: 'Oswald', sans-serif;
}
body {
    font-family: 'Lobster', cursive;
    background-image: url("img/coffeebeans.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    scrollbar-width: none;
    -ms-overflow-style: none;
}
body::-webkit-scrollbar {
    display: none;
}
input[type='submit'] {
    background-color: #cbad83;
    color: white;
    border: 1px solid #e6d2bd
}

input[type='submit']:hover {
    background-color: #3e1e06;
    color: #cbad83;
    border: 1px solid #e6d2bd
}
.card-body:hover {
    background-color: #3e1e06;
    color: #cbad83;
    border: 1px solid #e6d2bd
}
.modal-body {
    background-color: #cbad83;
}
.modal-header {
    background-color: #a88b6c;
    border-bottom: 1px black solid;
}
.modal-footer {
    background-color: #a88b6c;
    border-top: 1px black solid;
}
.btn {
    background-color: #b99a5f;
    color: white;
    border: 1px solid #e6d2bd
}
.btn:hover {
    background-color: #3e1e06;
    color: #cbad83;
    border: 1px solid #e6d2bd
}